* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
    line-height: 2;
    background-color: #fdfdfd;
    color: #1d1d1d;
}

h1 {
    padding-top: 40px;
}

h2 {
    font-family: 'Patua One', cursive;
    font-weight: 600;
    margin-bottom: 15px;
    color: #464a69;
}

h3 {
    font-family: 'Patua One', cursive;
    font-weight: 300;
    margin-bottom: 10px;
    text-decoration: underline;
    color: #454863;
}

p {
    margin-bottom: 15px;
    text-indent: 25px;
}

a {
    color: #7A95BC;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    background: #fdfdfd;
    font-family: 'Patua One', cursive;
    color: #454863;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px 30px;
}

.title {
    background: #fdfdfd;
    color: #454863;
    border-bottom: 40px solid #7A95BC;
    font-size: 30px;
}

nav ul {
    list-style: none;
    color: #454863;
    display: flex; 
    justify-content: right;
    gap: 30px;
    border-bottom: 5px solid #EDDE9D;
}

nav li {

}

nav a {
    text-decoration: none;
    color: #454863;
    font-weight: bold;
}

nav a:hover {
    color: #EDDE9D;
    text-decoration: none;  
}

.container {
    display: flex;
    gap: 20px;
}

.main-content {
    flex: 3;
    background: #fdfdfd;
    padding: 20px;
    border-radius: 5px;
}

.sidebar {
    flex: 0.5;
    background: #EDDE9D;
    padding: 20px;
    border-radius: 5px;
    height: fit-content;
    position: sticky;
    top: 40px;
}

.sidebar ul {
    list-style: none; 
    padding-left: 30px;
}

.sidebar li::before {
    content: "";
    display: inline-block; 
}

footer {
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    background: #7A95BC;
    color: #fff;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

button {
    font-family: 'Patua One', cursive;
    color: #454863;
}

article header p {
    margin-top: 5px;
    color: #7A95BC;
}

img {
    border-radius: 15px;
    margin-bottom: 20px;
    margin-left: 20px;

}

#icon-image {
    width: 120px;
    height: auto;
}

#concert-image {
    width: 500px;
    height: auto;
}

#book-image {
    width: 300px;
    height: auto;
}

#me-image {
    width: 300px;
    height: auto;
}

#concert-post {
    border-left: 5px solid #82cbd4;
    padding-left: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#book-review {
    border-left: 5px solid #6a567e;
    padding-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#about-section {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
}

#contact-section {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
}

#contact-section form {
     display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    font-family: 'Patua One', cursive;
    color: #7A95BC;
}

#contact-section select {
    font-family: 'Patua One', cursive;
    color: #454863;
}

input[type="email"],
input[type="text"],
textarea {
    font-family: 'Patua One', cursive;
    color: #454863;
    font-weight: 400;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    justify-self: center;
}

.float-image {
    float: right;
    width: 150px;
    margin-right: 20px;
    margin-top: 25%;
}

.float-image img {
    display: block; 
    width: 100%;
    border-radius: 5px;
}

.float-image figcaption {
    display: block;         
    text-align: center;
    font-size: 0.8em;
    color: #7A95BC;
}

.newsletter {
    color: #EDDE9D;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 20px; 
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #7A95BC;
    color: #fff;
}

table th:first-child,
table td:first-child {
    width:40%; 
}

.interest-list {
    list-style-type: square;
    margin-left: 50px;
    margin-bottom: 15px;
}

/* mobile phones */

@media (max-width: 576px) {
    .container {
        flex-direction: column;
        gap: 0px;
    }

    .sidebar {
        width: 90%;
        margin: 10px auto;
        position: static;
        height: auto;
        padding: 15px;
    }

    .sidebar h2 {
        margin-bottom: 5px;
    }

    img, #concert-image, #book-image, #me-image {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .float-image {
        float: none;
        width: 100%;
        display: block;
        height: auto;
        margin: 10px auto;
        order: 1;
    }

    .float-image figcaption {
        font-size: 0.9em;
    }

    article#concert-post,
    article#book-review {
        display: flex;
        flex-direction: column;
    }

    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px 15px;
    }

    article header p {
        margin-top: 0;
        text-indent: 0;
    }

    nav {
        width: 100%;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 0;
        gap: 8px;
        margin: 0;
        justify-self: center;
        width: 100%;
        margin: 10px 0 0 0;
        border-bottom: none;
    }

    nav li {
        width: 100%;
        text-align: center;
    }

    nav li a {
        display: block;
        width: 100%;
        background-color: #EDDE9D;
        padding: 5px 0;
        border-radius: 0;
        color: #454863;
        font-weight: bold;
        text-decoration: none;
        font-size: 0.95em;
        box-sizing: border-box;
    }

    nav li a:hover {
        background-color: #7A95BC;
        color: #fff;
    }

    nav li:last-child {
        margin-bottom: 0;
    }

    header h1 img {
        width: 30%;
        height: auto;
    }

    .title {
        padding: 0 0 10px 0;
        border-bottom: 10px solid #7A95BC;
        width: 100%;
    }

    input[type="email"],
    input[type="text"],
    textarea {
        width: 90%;
    }

    table {
        width: 100%;
        font-size: 0.9em;
    }

    #contact-section form {
        font-size: 1.1em;
    }
}

/* tablets */

@media (min-width: 577px) and (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 5px;
    }

    .main-content, .sidebar {
        width: 95%;
        margin: 0 auto;
    }

    .main-content article {
        margin-bottom: 10px;
    }

    .sidebar {
        position: static;
        height: auto;
        padding: 15px;
    }

    h2 {
        margin-bottom: 0;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        margin-bottom: 10px;
    }

    nav li a {
        padding: 5px 8px;
        font-size: 1em;
    }

    img, #concert-image, #book-image, #me-image {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-right: 0;
    }

    article {
        display: flex;
        flex-direction: column;
    }

    article p {
        order: 1;
    }

    .float-image {
        order: 2;
        float: none;
        display: block;
        width: 100%;
        margin: 10px 0;
    }

    .float-image figcaption {
        font-size: 0.9em;
    }

    p, .interest-list{
        font-size: 1em;
    }

    table {
        width: 100%;
        font-size: 0.9em;
    }

    input[type="email"], input[type="text"], textarea {
        width: 95%;
    }

    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 5px;
        padding: 5px 15px;
    }

    article header p {
        margin-top: 0;
        margin-bottom: 2px;
    }

    header h1, header img {
        margin-bottom: 0;
    }

    .title {
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 20px solid #7A95BC;
    }

    
}

/* small desktops */

@media (min-width: 769px) and (max-width: 992px) {
    input[type="email"], input[type="text"], textarea {
        width: 70%;
    }

    table {
        width: 90%;
    }

    article header p {
        margin-top: 5px;
        margin-bottom: 10px;
        text-indent: 0;
    }

    .title {
        border-bottom: 30px solid #7A95BC;
    }
    
    .container {
        gap: 20px;
    }

    .sidebar {
        font-size: 0.9em;
    }

    .sidebar ul {
        padding-left: 15px;
        line-height: 1.4;
        gap: 5px;
    }

    .sidebar li a {
        display: block;
        text-align: left;
        word-wrap: break-word;
        font-size: 0.95em;
    }
    
}

@media (min-width: 993px) and (max-width: 1400px) {
    input[type="email"], input[type="text"], textarea {
        width: 60%;
    }

    table {
        width: 95%;
    }

    .title {
        border-bottom: 35px solid #7A95BC;
    }
}